[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dvc = {extras = ["s3"]}
pandas = "*"
numpy = "*"
jupyterlab = "*"
scikit-learn = "*"
stackapi = "*"
spacy = "*"
pyarrow = "*"
tqdm = "*"

[requires]
python_version = "3.7"
